<!-- ! Тестовый див -->
<!-- <div class="gallery">
  <h1 class="gallery__title">TEST</h1>
  <ul class="gallery__category-list">
    <li class="gallery__card-item" id="#">
      <div class="gallery__image-box">
        <img
          class="gallery__card-image"
          src="../img/test-img.jpg"
          alt="#"
          loading="lazy"
          width="180px"
          height="256px"
        />
        <button
          class="gallery__card-quickviue js-modal-open"
          type="button"
          data-button="js-btn"
        >
          QUICK VIEW
        </button>
      </div>
      <h3 class="gallery__card-title">I will find you</h3>
      <p class="gallery__card-text">Harlan Coben</p>
    </li>
  </ul>
</div> -->
<!--!  -->
<div class="categories">
  <div class="categories__box" data-simplebar>
    <a class="categories_link" href="../index.html">
      <h3 class="categories__title">All CATIGORIES</h3>
    </a>

    <ul class="categories__list">
      <!-- <li class="categories__list-item">Combined Print and E-book Fiction</li> -->
    </ul>
  </div>
</div>
