<div class="container header-container">
  <nav class="header-nav">
    <a href="../index.html" class="header-logo-wrap">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="../img/icons-sprite.svg#logo"></use>
      </svg>
      <!-- <svg class="header-logo-text" width="20" height="20">
        <use href="../img/icons-sprite.svg#cart-icon"></use>
      </svg> -->
      <p class="header-logo-text">Need SVG</p>
    </a>
    <div class="header-auth-wrap">
      <ul class="header-hidden-auth-list hidden">
        <li class="header-hidden-auth-item">
          <p class="header-hidden-auth-btn">HOME</p>
        </li>
        <li class="header-hidden-auth-item">
          <a href="#" class="header-hiddeh-auth-basket">
            <p class="header-hidden-auth-text">Shopping list</p>
            <svg class="header-hidden-auth-icon" width="20" height="20">
              <use href="../img/icons-sprite.svg#cart-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="header-login-checkbox-block">
        <li class="header-login-checkbox">
          <input
            type="checkbox"
            id="theme-checkbox"
            class="header-theme-checkbox"
          />
          <label class="header-theme-toggle" for="theme-checkbox"></label>
          <div class="header-checkbox-circle"></div>
        </li>
        <li class="header-logout-block visually-hidden">
          <p class="header-logout-text">Log in</p>
          <svg class="header-logout-auth-arrow" width="20" height="20">
            <use href="../img/icons-sprite.svg#arrow-right-sign-up"></use>
          </svg>
        </li>
        <li class="header-login-overlay-block">
          <svg class="header-overlay-auth-icon" width="20" height="20">
            <use href="../img/icons-sprite.svg#user-icon"></use>
          </svg>
          <p class="header-overlay-user-name">STEPHAN</p>
          <svg class="header-overlay-auth-arrow" width="20" height="20">
            <use href="../img/icons-sprite.svg#arrow-down-user-menu-open"></use>
          </svg>
          <a class="header-overlay-wrap">
            <p href="#" class="header-logout-link">Logout</p>
            <svg class="header-logout-auth-arrow" width="20" height="20">
              <use href="../img/icons-sprite.svg#arrow-right-sign-up"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div>
    <button type="button" id="burger-menu" class="hamburger">
      <span class="line-top"></span>
      <span class="line-middle"></span>
      <span class="line-bottom"></span>
    </button>
    <!-- sign up -->
    <div id="menu" class="hamburger-overlay container">
      <button type="button" class="button menu-sign-up-btn visually-hidden">
        <span class="menu-btn-text">Sign up</span>
        <svg class="menu-arrow-right" width="20" height="20">
          <use href="./img/icons-sprite.svg#arrow-right-sign-up"></use>
        </svg>
      </button>

      <!-- user -->
      <div class="mob-menu-user">
        <svg class="header-overlay-auth-icon" width="37" height="37">
          <use href="../img/icons-sprite.svg#user-icon"></use>
        </svg>
        <p class="mob-menu-user-text">Stephen</p>
      </div>

      <div class="mob-menu-user-buttons">
        <button type="button" class="button mob-menu-home-btn">
          <a href="">HOME</a>
        </button>
        <div class="mob-menu-shoping">
          <a href="" class="mob-menu-shoping-link">Shopping list</a>
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </div>
      </div>

      <div class="mob-menu-gallery">
        <ul class="mob-menu-gallery-list"></ul>
      </div>
    </div>
  </div>
</div>
