<div class="container header-container">
  <nav class="header-nav">
    <a href="./index.html" class="header-logo-wrap">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="./img/icons-sprite.svg#logo"></use>
      </svg>
      <svg class="header-logo-text" width="77" height="13">
        <use href="./img/icons-sprite.svg#bookshelf-icon"></use>
      </svg>
    </a>
    <!-- <div class="header-auth-wrap"> -->

    <ul class="header-hidden-auth-list visually-hidden">
      <li class="header-hidden-auth-item nav-btn" data-page="/index.html">
        <a href="./index.html" class="header-hidden-auth-btn">HOME</a>
      </li>
      <li class="header-hidden-auth-item nav-btn" data-page="/page-2.html">
        <a href="./page-2.html" class="header-hiddeh-auth-basket">
          <p class="header-hidden-auth-text">Shopping list</p>
          <svg class="header-hidden-auth-icon" width="20" height="20">
            <use href="./img/icons-sprite.svg#cart-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="header-login-checkbox-block">
      <!-- CHECKBOX -->
      <li class="header-login-checkbox">
        <input
          type="checkbox"
          id="theme-checkbox"
          class="header-theme-checkbox"
        />
        <label class="header-theme-toggle" for="theme-checkbox"></label>
        <div class="header-checkbox-circle"></div>
      </li>

      <!-- LOGIN-LOGOUT -->

      <li class="header-logout-block js-header-login">
        <p class="header-logout-text">Sing up</p>
        <svg class="header-logout-auth-arrow" width="20" height="20">
          <use href="./img/icons-sprite.svg#arrow-right-sign-up"></use>
        </svg>
      </li>
      <li class="header-login-overlay-block visually-hidden">
        <svg class="header-overlay-auth-icon" width="20" height="20">
          <use href="./img/icons-sprite.svg#user-icon"></use>
        </svg>
        <p class="header-overlay-user-name"></p>
        <svg class="header-overlay-auth-arrow" width="20" height="20">
          <use href="./img/icons-sprite.svg#arrow-down-user-menu-open"></use>
        </svg>
        <div class="header-overlay-wrap">
          <p class="header-logout-link">Log out</p>
          <svg class="header-logout-auth-arrow" width="20" height="20">
            <use href="./img/icons-sprite.svg#arrow-right-sign-up"></use>
          </svg>
        </div>
      </li>
      <li class="header-burger-menu">
        <div id="burger-menu" class="hamburger">
          <span
            class="line-top burger-line-color-light burger-menu-line burger-line-color-dark"
          ></span>
          <span
            class="line-middle burger-line-color-light burger-menu-line burger-line-color-dark"
          ></span>
          <span
            class="line-bottom burger-line-color-light burger-menu-line burger-line-color-dark"
          ></span>
        </div>
      </li>
    </ul>
    <!-- </div> -->

    <!-- </nav> -->
    <!-- sign up -->
    <div id="menu" class="hamburger-overlay container">
      <!-- visually-hidden -->
      <button type="button" class="button menu-sign-up-btn visually-hidden">
        <span class="menu-btn-text">Sign up</span>
        <svg class="menu-arrow-right" width="20" height="20">
          <use href="./img/icons-sprite.svg#arrow-right-sign-up"></use>
        </svg>
      </button>

      <!-- authorized user -->
      <!-- visually-hidden -->
      <div class="mob-menu-user visually-hidden">
        <svg class="header-overlay-auth-icon" width="37" height="37">
          <use href="./img/icons-sprite.svg#user-icon"></use>
        </svg>
        <p class="mob-menu-user-text">Stephen</p>
      </div>
      <!-- visually-hidden -->
      <div class="mob-menu-user-buttons visually-hidden">
        <ul>
          <li class="mobile__nav-btn" data-page="/index.html">
            <a href="./index.html" class="mob-menu-home-btn">HOME</a>
          </li>
          <li class="mob-menu-shoping mobile__nav-btn" data-page="/page-2.html">
            <a href="./page-2.html" class="mob-menu-shoping-link"
              >Shopping list</a
            >
            <svg class="mob-menu-shoping-ico" width="20" height="20">
              <use href="./img/icons-sprite.svg#cart-icon"></use>
            </svg>
          </li>
        </ul>
      </div>
      <!-- visually-hidden -->
      <div class="mob-menu-logout-container visually-hidden">
        <button type="button" class="button mob-menu-logout-btn">
          <span class="mob-menu-logout-text">Log out</span
          ><svg class="mob-menu-logout-icon" width="20" height="20">
            <use href="./img/icons-sprite.svg#arrow-right-sign-up"></use>
          </svg>
        </button>
      </div>
      <!-- burger menu gallery -->
      <div class="mob-menu-gallery">
        <ul class="mob-menu-gallery-list"></ul>
      </div>
    </div>
  </nav>
</div>
