<div class="shopping-list-container">
  <h1 class="shopping-list-title">
    Shopping <span class="shopping-list-title-accent">List</span>
  </h1>
  <div class="shopping-list-content">
    <ul class="cart-list"></ul>
    <div id="pagination" class="tui-pagination"></div>
    <div class="empty-cart">
      <p class="empty-cart-text">
        This page is empty, add some books and proceed to order.
      </p>
      <img src="./img/empty.png" alt="book" class="empty-cart-img" />
    </div>
  </div>
</div>
