<div class="support-block">
  <div class="support-sect">
    <div class="support-title-group">
      <h2 class="support-title">Support Ukraine</h2>
      <svg class="support-icon" width="20" height="32">
        <use href="./img/icons-sprite.svg#ukraine-emblem"></use>
      </svg>
    </div>
    <ul class="support-list"></ul>
    <buttton class="support-slide-btn">
      <svg class="support-slide-down-btn" width="20" height="20">
        <use href="./img/icons-sprite.svg#arrow-down-slider-icon"></use>
      </svg>
      <svg class="support-slide-up-btn hidden" width="20" height="20">
        <use href="./img/icons-sprite.svg#arrow-up-slider-up-icon"></use>
      </svg>
    </buttton>
  </div>
</div>
