

.list_five_general {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.title_general {
    
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.author_general {
    
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        text-align: left;
    color: rgba(180, 175, 175, 1);
}

.btn {
    position: absolute;
    right: 0;
    bottom: -75px;
    width: 124px;
    height: 46px;
    /* padding: 14, 28, 14, 28; */
}



.list_five_books img {
    background: url('./error_img.jpg') no-repeat center center;

    background-size: cover;
    list-style-type: none;
}

.list_five_button {
    list-style-type: none;
}

.div_five_books {
    margin-top: 45px;
    margin-bottom: 115px;
    
    position: relative;
    /* background-color: aquamarine; */
} 

.div_category {
    width: 100%;
    position: relative;
} 

.btn_back {
    position: absolute;
    margin-top: 30px;
    margin-bottom: 30px;
        right: 0;
        
    width: 124px; 
    height: 46px; 
    /* padding: 14, 28, 14, 28;  */
    
}

.img_books {
    width: 180px; 
    height: 256px;
    border-radius: 5%;
    border: 0.02px solid black;
}

span:last-child {
    color: rgba(79, 46, 232, 1);
}


/* .list_general {
    margin-top: 1000px;
} */

.title-category {
    margin-bottom: 40px;
    font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.04em;
        text-align: left;
    
}

.title_best_sellers {
    
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.04em;
        text-align: left;
}

.text_general {
    margin-bottom: 20px;
    
    
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        color: rgba(180, 175, 175, 1);
}