.menu-open {
  overflow: hidden;
}

.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 28px;
  width: 28px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  background-color: transparent;
}
.hamburger.hamburger.close {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.burger-line-color-light {
  background-color: var(--white-color);
}

.burger-line-color-dark {
  background-color: var(--black-color);
}

.line-top,
.line-middle,
.line-bottom {
  display: flex;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.line-top {
  top: 5px;
  width: 27px;
}

.line-middle {
  top: 15px;
  width: 22px;
}

.line-bottom {
  top: 25px;
  width: 27px;
}

.hamburger.close .line-top {
  top: 15px;
  transform: rotate(45deg);
  width: 27px;
}

.hamburger.close .line-middle {
  transform: rotate(-45deg);
  width: 27px;
}

.hamburger.close .line-bottom {
  top: 15px;
  transform: rotate(-45deg);
  width: 27px;
}

.hamburger-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.2, 0, 0.7, 1);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .hamburger-overlay {
    display: none;
  }
}

.hamburger-overlay.active {
  position: fixed;
  top: 65.5px;
  border-radius: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
  opacity: 1;
  background: var(--background-gradient);
  height: 100%;
  width: 100%;

  z-index: 999;
  overflow: hidden;
}

.hamburger-overlay.burger-list {
  padding: 0;
}

.hamburger-overlay.burger-item {
  list-style: none;
}

.hamburger-overlay.burger-link {
  color: var(--black-color);
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn-text {
  font-family: DM Sans;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.menu-arrow-right {
  stroke: var(--accent-color);
}

.mob-menu-gallery {
  position: absolute;
  top: 400px;
  rotate: -15deg;
}

.mob-menu-gallery-list {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  gap: 10px;
  width: 3000px;
}

.mob-menu-gallery-item {
  width: 150px;
  height: 233px;
}
.mob-menu-image {
  border-radius: 10px;
  width: 100%;
  height: 230px;
}

/* sign up */
.menu-sign-up-btn {
  width: 184px;
  height: 48px;
  padding: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 18px;
  border: 1.5px solid var(--black-color);
  background-color: var(--selected-category);

  margin-top: 40px;
}

/* user */
.mob-menu-user {
  display: flex;
  gap: 9px;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 120px;
}
.mob-menu-user-buttons {
  display: flex;
  justify-content: center;
}
.mob-menu-user-text {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}
.mobile__nav-btn {
  margin-bottom: 16px;
}
.mob-menu-home-btn {
  display: block;
  width: 72px;
  height: 34px;
  padding: 8px 16px;
  border-radius: 36px;
  border: none;

  color: #fff;

  font-size: 14px;

  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.mob-menu-home-btn.header-yellow {
  color: #000;
  font-weight: 700;
}

.mob-menu-home-btn:hover {
  background: var(--main-brandcolor);

  color: var(--white-color);
}

.mob-menu-shoping {
  display: flex;
  align-items: center;
}

.mob-menu-shoping-ico {
  fill: var(--white-color);
}

.mob-menu-shoping-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.mob-menu-shoping-link.header-yellow {
  color: #000;
  font-weight: 700;
}

.header-yellow > .mob-menu-shoping-link {
  font-weight: 700;
  color: #000;
}

.header-yellow > .mob-menu-shoping-ico {
  fill: #000;
}

.mob-menu-logout-icon {
  stroke: var(--accent-color);
}

.mob-menu-logout-btn {
  width: 118px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  text-transform: none;
  position: absolute;
  left: 20px;
  bottom: 80px;
  z-index: 1;
}

.mob-menu-logout-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--black-color);
}
.mob-menu-logout-btn:hover > .mob-menu-logout-text {
  color: var(--white-color);
}
.mob-menu-logout-btn:hover {
  border: none;
}
.mob-menu-logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
