.gallery__category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.categories {
  width: 335px;
  height: 228px;
}
@media screen and (min-width: 768px) {
  .categories {
    width: 337px;
    height: 472px;
  }
}
@media screen and (min-width: 1440px) {
  .categories {
    width: 356px;
  }
}

.categories__box {
  width: 100%;
  height: 100%;
}

.categories__title {
  padding-bottom: 24px;
  color: var(--selected-category);
}

.categories__list-item {
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;

  padding-bottom: 24px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .categories__list-item {
    padding-bottom: 32px;
  }
}
.categories__list-item:hover {
  color: var(--hover-categorie-text);
}

.selected-category {
  color: var(--selected-category);
  font-family: DM Sans;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
}
