.scroll-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 800;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  opacity: 0;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1),
    opacity 500ms cubic-bezier(0.2, 0, 0.7, 1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-button.show {
  opacity: 1;
}

.scroll-to-top-button:hover {
  background: transparent;
  box-shadow: 0 0 1px 20px rgba(138, 59, 88, 0.1),
    0 0 1px 10px rgba(59, 71, 138, 0.1);
}

.arrow-up-btn {
  fill: white;
  width: 64px;
  height: 64px;
}
