/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./filter-categories.css');
@import url('./bookgallery.css');
@import url('./support.css');
@import url('./shopping.css');
@import url('./modal-book.css');
@import url('./auth.css');

:root {
  --main-brandcolor: #4f2ee8;
  --selected-category: #4f2ee8;
  --accent-color: #eac645;
  --black-color: #111;
  --white-color: white;
  --white-color-BG: #f6f6f6;
  --text-color: #111;
  --text-color-grey: rgba(17, 17, 17, 0.6);
  --background-color: #f6f6f6;
  --header-background: white;
  --background-gradient: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  --display-logo: block;
  --display-darklogo: none;
  --hover-categorie-text: #4f2ee8;
}

/* Темная тема */
.dark-theme {
  --selected-category: #eac645;
  --text-color-grey: rgba(255, 255, 255, 0.6);
  --background-color: #202024;
  --header-background: black;
  --text-color: white;
  --display-logo: none;
  --display-darklogo: block;
  --hover-categorie-text: rgba(234, 198, 69, 1);
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

section {
  margin-top: 112px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 108.333%;
  letter-spacing: -1.92px;
}

h2 {
  color: var(--text-color-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

h3 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 112.5%;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.56px;
}

button {
  background-color: var(--background-color);
  border-radius: 40px;
  border: 2px solid var(--main-brandcolor);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
}

button:hover,
button:focus {
  background: var(--main-brandcolor);
  color: var(--white-color);
}

button:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    gap: 32px;
  }
  h1 {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1440px;
  }

  .wrapper {
    gap: 40px;
    flex-direction: row;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 356px;
  }
}
