/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
:root {
  --main-brandcolor: #4f2ee8;
  --selected-category: #4f2ee8;
  --accent-color: #eac645;
  --text-color: #111;
  --text-color-grey: rgba(17, 17, 17, 0.6);
  --background-color: #f6f6f6;
  --header-background: white;
  --background-gradient: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  --display-logo: block;
  --display-darklogo: none;
  --hover-categorie-text: #b314c2;
  /* Другие переменные CSS */
}

/* Темная тема */
.dark-theme {
  --selected-category: #eac645;
  --text-color-grey: rgba(255, 255, 255, 0.6);
  --background-color: #202024;
  --header-background: black;
  --text-color: white;
  --display-logo: none;
  --display-darklogo: block;
  --hover-categorie-text: rgba(234, 198, 69, 1);
  /* Другие переменные CSS */
}

@import url('./reset.css');
@import url('./header.css');

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--white-text-color);
  background-color: var(--background-color-body);
}

.text-accent {
  color: transparent;
  -webkit-background-clip: text;
  background-image: var(--primary-gradient);
  font-style: italic;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
