.support-sect {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 460px;
    /* width: 335px; */
    /* width: 100%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 16px;
    background: var(--background-gradient);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    margin-bottom: 40px;
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 768px) {
    .support-sect {
        height: 474px;
    }
}

@media screen and (min-width: 768px) {
    .support-sect {
        margin-bottom: 86px;
    }
}

@media screen and (min-width: 1440px) {
    .support-sect {
        width: 356px;
    }
}

.support-title-group {
    display: flex;
    gap: 12px;
    margin-bottom: 44px;
}

.support-title {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.88px;
    text-transform: none;
}

@media screen and (min-width: 768px) {
    .support-title {
        font-size: 24px;
    }
}

.support-icon {
    fill: var(--white-color);
    -webkit-animation: pulsing 5s infinite;
    animation: pulsing 5s infinite;
        }

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }

    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }

    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }

    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }

    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

.support-slide {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    align-self: center;
    margin-bottom: 20px;
}

.support-slide-down-btn, .support-slide-up-btn {
    width: 32px;
    height: 32px;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support-slide-down-btn:hover,
.support-slide-up-btn:hover, 
.support-slide-down-btn:focus,
.support-slide-up-btn:focus {
    box-shadow: 0 8px 8px #14141426, 3px 12px 38px 12px #2f28b87e;
    border-radius: 50%;
    transform: scale(1.05);
}

.support-list{
    
    overflow: hidden;
    margin-bottom: 10px;
} 

.support-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.support-item:not(:last-child) {
    margin-bottom: 20px;
}

.support-item-num {
    color: var(--white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.support-link {
        transform: scale(1);
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .support-link:hover,
    .support-linkk:focus {
        transform: scale(1.05);
    }


.support-img {
    filter: brightness(0) invert(1);
    height: 32px;
}

